 {
  "env": {
    "browser": true,
    "commonjs": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true,
      "modules": true
    }
  },
  "plugins": [
    "react"
  ],
  "parser": "babel-eslint",
  "rules": {
    "no-unused-vars": 0,
    "new-cap": ["warn", { "capIsNew": false }],
    "no-undef": ["warn"],
    "indent": ["error", 2, { "SwitchCase": 1 }]
  }
}
