html, body, #lobby, #root {
  height: 100%;
}

#friendsList {
  float: left;
  border: 1px solid black;
  width: 15%;
  height: 80%;
}

ul {
  list-style-type: none;
  margin-left: -20px;
}

ul li:before {
    /* Unicode bullet symbol */
    content: '\2022 ';
    /* Bullet color */
    color: green;
}

#chatBox {
  border: 1px solid black;
  height: 80%;
}

#logout {
  float: right;
}

.user {
  color: green;
}

#inputMessage {
  border: 1px solid black;
}