html, body, #lobby, #root, #sessionWrapper {
  height: 100%;
}

#friendsList {
  float: left;
  border: 1px solid black;
  width: 15%;
  height: 80%;
}

ul {
  list-style-type: none;
  margin-left: -20px;
}

ul li:before {
    /* Unicode bullet symbol */
    content: '\2022 ';
    /* Bullet color */
    color: green;
}

#chatBox {
  border: 1px solid black;
  height: 80%;
}

#logout {
  float: right;
}

.user {
  color: green;
}

#inputMessageBox {
  border: 1px solid black;
  height: 10%;
}

#inputMessage {
  width: 800px;
  margin-left: 290px;
}

#mainSession {
  display: inline-block;
  border: 1px solid black;
  width: 64%;
  height: 80%;
  background-color: black;
}

#videoList {
  float: right;
  height: 50%;
  width: 20%;
}

.whiteboard {
  border: 1px solid black;
  height: 55%;
  width: 79%;
}

#firepad {
  width: 100%;
  height: 100%;
  background-color: #f62; /* dark orange background */
}

.CodeMirror {
  background-color: black;
}

video {
  border: 1px solid black;
  height: 50%;
  width: 100%;
}
